
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600&display=swap');


@import "tailwindcss";


body{
  background-color: rgba(255, 157, 125, 0.7);
  
}
.font-instrument {
  font-family: 'Instrument Sans', sans-serif;
}
.font-island {
  font-family: 'Island Moments', cursive;
}
.font-halant {
  font-family: 'Halant', serif;
}
html,
body {
 
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


@keyframes pulseScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse-scale {
  animation: pulseScale 2s ease-in-out infinite;
}

